* {
  font-family: "M PLUS Rounded 1c", sans-serif;
}
.parallax {
  /* The image used */
  position: fixed;
  z-index: -1;
  background-image: url("../images/background-image.jpg");

  /* Set a specific height */
  height: 100%;
  min-height: 1080px;
  min-width: 1920px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
header,
section {
  background: tan;
}
body {
  margin: 0px;
  background-color: lightgoldenrodyellow;
}

.wrapper {
  margin: auto;
  width: 100%;
  max-width: 1024px; /* 2 */
}
.separator {
  background-color: rgba(0, 0, 0, 0);
  height: 20px;
  width: 100%;
}
.content {
  display: flex;
  justify-content: center;
  background-color: teal;
}
.main-information {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
header {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.contact-list {
  padding-left: 0px;
  padding-inline-start: 0px;
}
.contact-list li {
  list-style-type: none;
}

#photo {
  background-image: url("../images/profile-photo.jpg");
  width: 100px;
  height: 100px;
}

#profile-photo {
  width: 200px;
  height: 200px;
}
section {
  padding: 20px 10px 20px 10px;
}
.skills {
  display: flex;
  flex-direction: column;
}

.skills > .row {
  display: flex;
  flex-direction: row;
  background-color: rgba(0, 0, 0, 0.1);
  width: 100%;
}
.skills > .row > div {
  padding: 5px;
  border: 2px solid black;
  border-bottom: 0px;
}
.skills > .row > div:first-child {
  font-weight: 500;
  width: 30%;
}
.skills > .row:last-child > div {
  border: 2px solid black;
}
.skills > .row > div:last-child {
  width: 70%;
  border-left: 0px;
}
